.user-checkout {
  padding: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &__button {

      &__icon {
        transform: scale(0.80);
      }

    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }

    &__subtitle {
      margin-bottom: 1.5rem;
    }

    &__close {
    }

  }

  &__input {
    width: 100%;
    padding: 0.5rem 0;
  }

  &__button {
    height: 3.50rem;
    width: 100%;
  }
}
