<div class="banner">
  <div class="banner__data__title">
    {{ product.title }}
  </div>
  <div class="banner__data__price">
    {{ product.price.amount - (product.price.discount || 0) | currency: product.price.currency.code }}
    <span *ngIf="product.price.discount && product.price.discount > 0" class="banner__data__price__discount">{{ product.price.amount | currency: product.price.currency.code }}</span>
  </div>
  <div class="banner__data__description">
    {{ product.description }}
  </div>
  <div class="banner__data__badges">
    <div *ngFor="let badge of product.badges" class="banner__data__badges__item">
      {{ badge.name }}
    </div>
  </div>
</div>
