<div class="option-selector">
  <div class="option-selector__header">
    <div class="option-selector__header__title">
      {{ answer.name }}
    </div>
    <div (click)="show()" class="option-selector__header__description">
      Elige hasta {{ answer.max }}
    </div>
  </div>
  <div *ngIf="answer.max === 1" [formGroup]="form" class="option-selector__options">
    <mat-radio-group formControlName="selected">
      <div *ngFor="let option of answer?.options; index as i" class="option-selector__options__item  option-selector__options__divider">
        <div>
          <div class="option-selector__options__item__name">
            {{ option?.name }}
          </div>
          <div *ngIf="option?.price?.amount !== 0" class="option-selector__options__item__price">
            + {{ option?.price?.amount | currency: option?.price?.currency }}
          </div>
        </div>
        <div class="option-selector__options__item__field">
          <mat-radio-button [checked]="getChecked(i)" color="primary" [value]="makeOption(i, option)"></mat-radio-button>
        </div>
      </div>
    </mat-radio-group>
  </div>
  <div *ngIf="answer.max > 1" [formGroup]="form" class="option-selector__options">
    <ng-container formArrayName="selected">
      <div *ngFor="let option of answer?.options; index as i" class="option-selector__options__item  option-selector__options__divider">
        <div>
          <div class="option-selector__options__item__name">
            {{ option?.name }}
          </div>
          <div *ngIf="option?.price?.amount !== 0" class="option-selector__options__item__price">
            + {{ option?.price?.amount | currency: option?.price?.currency }}
          </div>
        </div>
        <div class="option-selector__options__item__field">
          <mat-checkbox color="primary" [formControlName]="i" (change)="changePick($event, i, option)"></mat-checkbox>
        </div>
      </div>
    </ng-container>
  </div>
</div>
