<div (click)="redirectToDetail()" class="visual-card">
  <div class="visual-card__resource">
    <img *ngIf="product.image" class="visual-card__resource__image" alt="Image of {{ product.title }}" src="{{ product.image }}">
  </div>
  <div class="visual-card__data">
    <div class="visual-card__data__title">
      {{ product.title }}
    </div>
    <div class="visual-card__data__price">
      {{ product.price.amount | currency: product.price.currency.code }}
    </div>
  </div>
  <div *ngIf="primaryBadge != null" class="visual-card__badge">
    <div class="visual-card__badge__item">
      {{ primaryBadge.name }}
    </div>
  </div>
</div>
