<div [id]="category?.id" class="section">
  <div class="section__name">
    {{ category?.name }}
  </div>
  <div [ngClass]="{ 'section__visual': category?.categoryType === 'VISUAL', 'section__normal': category?.categoryType === 'NORMAL' }">
    <ng-container *ngFor="let product of category?.products">
      <ng-container *ngIf="category?.categoryType === 'VISUAL'">
        <app-visual-card [product]="product"></app-visual-card>
      </ng-container>
      <ng-container *ngIf="category?.categoryType === 'NORMAL'">
        <app-simple-card [product]="product"></app-simple-card>
      </ng-container>
    </ng-container>
  </div>
</div>


