<div class="brand">
  <div class="brand__banner">
    <img *ngIf="store.image" class="brand__banner__image" src="{{store.image}}" alt="Banner of {{store.name}}">
    <button class="brand__banner__information" (click)="openInformation()" mat-mini-fab color="accent">
      <mat-icon class="navigator__button__icon">info_outline</mat-icon>
    </button>
  </div>
  <div *ngIf="store.logo" class="brand__logo">
    <img class="brand__logo__image" src="{{store.logo}}" alt="Logo of {{store.name}}">
  </div>
  <div class="brand__header" [ngClass]="store.logo ? 'brand__header__extra-padding' : 'brand__header'">
    <div class="brand__header__title">{{store.name}}</div>
    <div class="brand__header__subtitle">{{store.description}}</div>
  </div>
</div>
