.detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;

  &__image {
    height: 12.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
