<div (click)="redirectToDetail()" class="simple-card">
  <div class="simple-card__data">
    <div class="simple-card__data__title">
      {{ product.title }}
    </div>
    <div class="simple-card__data__price">
      {{ product.price.amount | currency: product.price.currency.code }}
    </div>
    <div class="simple-card__data__description">
      {{ product.description }}
    </div>
  </div>
  <div *ngIf="product.image" class="simple-card__resource">
    <img class="simple-card__resource__image" alt="Image of {{product.title}}" src="{{product.image}}">
  </div>
  <div *ngIf="primaryBadge != null" class="simple-card__badge">
    <div class="simple-card__badge__item">
      {{ primaryBadge.name }}
    </div>
  </div>
</div>
