<div class="checkout">
  <app-navigator></app-navigator>
  <div class="checkout__holder"></div>
  <div class="checkout__cards">
    <div class="checkout__cards__header">
      <div class="checkout__cards__header__title">
        Checkout
      </div>
      <div class="checkout__cards__header__subtitle">
        Kebab Madrid
      </div>
    </div>
    <app-payments-selector (paymentTypeEvent)="paymentTypeEvent($event)"></app-payments-selector>
    <app-resume></app-resume>
  </div>
  <app-floating-button *ngIf="paymentType.id == '1'" title="llamar al mozo"></app-floating-button>
  <app-floating-button *ngIf="paymentType.id == '2'" (click)="goToMercadoPago()" title="ir a mercadopago"></app-floating-button>
</div>
