<div class="floating-button">
  <div (click)="action()" class="floating-button__element">
    <mat-spinner *ngIf="loading" class="floating-button__spinner" diameter="30"></mat-spinner>
    <div *ngIf="!loading && subtitle" class="floating-button__element__subtitle">
      {{ subtitle }}
    </div>
    <div *ngIf="!loading" class="floating-button__element__title">
      {{ title }}
    </div>
    @if (loginRequired) {
      <asl-google-signin-button style="opacity: 0; pointer-events: auto; width: 100%; position: absolute" class="navbar__actions" type='icon' size='large' shape="circle" [width]="40-40">
      </asl-google-signin-button>
    }
  </div>
</div>
