.floating-button {
  padding: 0 1rem;
  position: fixed;
  bottom: 1rem;
  width: calc(100% - 2rem);
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 1024px) {
    width: calc(60%);
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }

  &__spinner {
    ::ng-deep circle {
      stroke: #FFFFFF;
    }
  }

  &__element {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 6.25rem;
    height: 3.50rem;
    transition: transform 0.3s ease; // Agregamos una transición de transformación

    &:hover {
      transform: translateY(-0.1rem); // Efecto de profundidad cuando se pasa el cursor
    }

    &__title {
      text-transform: uppercase;
      font-size: 1rem;
    }

    &__subtitle {
      color: #DDDDDD;
      font-size: 0.75rem;
    }
  }
}
