<div class="profile">
  <app-navigator></app-navigator>
  <div class="profile__header">
    <img class="profile__header__image" width="125" height="125" src="https://lh3.googleusercontent.com/a/ACg8ocJSSeF8gzLg4v2nE4v1CV-rWIXjcoxqnWvccXL0Fl1SqX0v-gBS8Q=s1000-c">
    <div class="profile__header__data">
      <div class="profile__header__data__name">Matias Luna</div>
      <div class="profile__header__data__joined">Se unio hace</div>
      <div class="profile__header__data__joined__value">1 año</div>
    </div>
  </div>
  <div class="profile__actions">
    <div class="profile__actions__item">
      <div>
        <mat-icon>settings</mat-icon>
        Modificar datos
      </div>
      <div>
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>
  </div>
<!--  <div class="profile__header">-->
<!--    <div class="profile__header__image">-->
<!--      <div class="profile__header__image__container">-->
<!--        <img class="profile__header__image__source" width="125" height="125" src="https://lh3.googleusercontent.com/a/ACg8ocJSSeF8gzLg4v2nE4v1CV-rWIXjcoxqnWvccXL0Fl1SqX0v-gBS8Q=s1000-c">-->
<!--        <button class="profile__header__edit" color="primary" mat-mini-fab>-->
<!--          <mat-icon>edit</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="profile__header__name">-->
<!--      Matias Luna-->
<!--    </div>-->
<!--    <div class="profile__header__subtitle">-->
<!--      Cliente-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="profile__header__actions">-->
<!--    <mat-card>-->
<!--      <mat-card-content class="profile__header__actions__item">-->
<!--        <mat-icon><span class="material-symbols-outlined">home_pin</span></mat-icon><span>Mis direcciones</span>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--    <mat-card>-->
<!--      <mat-card-content class="profile__header__actions__item">-->
<!--        <mat-icon><span class="material-symbols-outlined">shopping_cart</span></mat-icon><span>Mis pedidos</span>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
</div>

