.navbar {
  height: 4rem;
  background-color: #FFFFFF;
  padding: 0.5rem 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 2rem;
  }

  &__button {
    all: unset;
  }
}
