<div class="navbar">
  <img class="navbar__logo" alt="shop expert icon" src="assets/images/logo.svg">
  <div class="navbar__actions" *ngIf="loggedIn" [matMenuTriggerFor]="menu">
    <button class="navbar__login">
      <ng-container *ngIf="!userService?.user?.photoUrl && !loggedIn">
        <mat-icon color="primary" class="navigator__button__icon">person</mat-icon>
      </ng-container>
      <img class="navbar__login__icon" src="{{userService.user?.photoUrl}}" alt="user"/>
    </button>
  </div>

  <asl-google-signin-button *ngIf="!loggedIn" class="navbar__actions" type='icon' size='large' shape="circle" [width]="40-40">
  </asl-google-signin-button>

  <mat-menu class="menu-custom" #menu="matMenu">
    <button *ngIf="userService?.user" (click)="logout()" mat-menu-item>
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
