/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url(./assets/fonts/inter.ttf) format("truetype");
}

* {
  scroll-margin-top: 130px;
}

body {
  font-family: Inter, serif;
  background-color: #F6F6F6;
  margin: 0;
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
  border-color:#E31837 !important
}

::ng-deep .mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #E31837 !important
}


