.observation {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  padding: 1rem;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 1rem;
    }

    &__subtitle {
      font-size: 0.75rem;
      color: #989292;
    }
  }

  &__content {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #F6F6F6;
    border-radius: 10px;
    padding: 0.5rem;
    border: none;
  }

  &__content:focus {
    outline: 2px solid #000000 !important;
  }
}
