@if (store$ | async; as store) {
  <div class="checkout">
    <app-navigator></app-navigator>
    <div class="checkout__holder"></div>
    <div class="checkout__cards">
      <div class="checkout__cards__header">
        <div class="checkout__cards__header__title">
          Checkout
        </div>
        <div class="checkout__cards__header__subtitle">
          {{ store.name }}
        </div>
      </div>
      <app-payments-selector (paymentTypeEvent)="paymentTypeEvent($event)"></app-payments-selector>
      <app-resume></app-resume>
    </div>

    @switch (paymentType.id) {
      @case ('2') {
        <app-floating-button [loading]="loading" (click)="goToMercadoPago()" title="ir a mercadopago"></app-floating-button>
      }
    }
  </div>
}

