<div class="footer" [ngClass]="hasCartItems ? 'footer__white-space' : 'footer__none-white-space'">
  <section>
    <img ngSrc="assets/images/logo.svg" height="55" width="108" alt="shopexpert.app logo">
    <hr>
  </section>
  <section class="footer__social-media">
    <a href="https://www.instagram.com/shopexpert.app/">
      <img ngSrc="assets/icons/instagram.svg" height="30" width="30" alt="Instagram logo">
    </a>
    <a href="https://www.facebook.com/shopexpert.app">
      <img ngSrc="assets/icons/facebook.svg" height="30" width="30" alt="Facebook logo">
    </a>
    <a href="https://twitter.com/shopexpert.app">
      <img ngSrc="assets/icons/x.svg" height="30" width="30" alt="X logo">
    </a>
  </section>
  <section class="footer__links">
    <a (click)="openContact()">Contacto / Integra tu negocio</a>
    <a>Términos y Condiciones</a>
    <p>© 2024 QTech S.R.L.</p>
  </section>
</div>
