.footer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 1rem;

  @media (min-width: 768px) {
    padding: 0 3rem;
  }

  @media (min-width: 1024px) {
    padding: 0 6rem;
  }

  @media (min-width: 1280px) {
    padding: 0 9rem;
  }

  &__white-space {
    margin-bottom: 5.5rem;
  }

  &__none-white-space {
    margin-bottom: 1rem;
  }

  &__social-media {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & a {
      cursor: pointer;
    }
  }
}
