<div class="footer">
  <section>
    <img ngSrc="assets/images/logo.svg" height="55" width="108" alt="menuexpert.app logo">
    <hr>
  </section>
  <section class="footer__social-media">
    <a href="https://www.instagram.com/menuexpert.app/">
      <img ngSrc="assets/icons/instagram.svg" height="30" width="30" alt="Instagram logo">
    </a>
    <a href="https://www.facebook.com/menuexpert.app">
      <img ngSrc="assets/icons/facebook.svg" height="30" width="30" alt="Facebook logo">
    </a>
    <a href="https://twitter.com/menuexpert.app">
      <img ngSrc="assets/icons/x.svg" height="30" width="30" alt="X logo">
    </a>
  </section>
  <section class="footer__links">
    <a>Contacto</a>
    <a>Integra tu negocio</a>
    <a>Términos Condiciones</a>
    <a>Política de privacidad</a>
    <p>© 2024 QTech S.R.L.</p>
  </section>
</div>
