.option-selector {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;

  &__header {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &__title {
      font-size: 1rem;
      font-weight: 600;
    }

    &__description {
      font-size: 0.75rem;
      color: #989292;
    }

  }

  &__options {
    display: flex;
    flex-direction: column;

    &__divider:not(:last-child) {
      border-bottom: #EBEBEB solid 1px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      font-size: 0.75rem;

      &__name {

      }

      &__price {
        color: #626262;
      }

      &__field {

      }

    }

  }

}
